.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-section {
  display: flex;
  gap: 2rem 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.card-sector{
  border:2px solid black;
  padding: 10px;
  width:28%;
}

.btn-container{
  background-color:  rgb(115, 145, 190);
  border:1px solid rgb(36, 36, 143);
  padding:5px;
  color:white;
  margin: auto 2px;
  width:10%
}

.category{
  margin:20px;
}

.title-food{
  font-size: 20px;
  font-weight: bold;
  text-transform:capitalize;
}

.formAlign{
  border: 2px solid red;
    width: 30%;
    margin: auto;
    padding: 30px
}
